<!-- 
	partial für Buchung anzeign (Status == "abgerechnet")
-->

{% extends "layout.html" %}
{% from "_macros.html" import render_field %}

{% block content %}

    <div class="row">
        <div class="col-12">
            {% include 'besuchersnippet.html' %}
        </div>
    </div>

    <div class="row">
        {{render_field("label", "col-3", "Anreise", buchung.get_anreise() | euro_date, "")}}
        {{render_field("label", "col-3", "Abreise", buchung.get_abreise() | euro_date, "")}}
        {{render_field("label", "col-3", "Nächte", (buchung.abreise - buchung.anreise).days, "")}}
    </div> <!-- row -->
    <div class="row">
        {{render_field("label", "col-3", "Apartment", buchung.apartment.name, "")}}
        {{render_field("label", "col-3", "Portal", buchung.portal.name, "")}}   
        {{render_field("label", "col-3", "Miete", buchung.get_miete() | euro_currency, "")}}   
    </div> <!-- row -->
    <div class="row">
        {{render_field("label", "col-3", "Preis/Nacht", buchung.get_preis_nacht() | euro_currency, "")}}  
        {{render_field("label", "col-3", "Zusatzkosten", buchung.zusatzkosten  | euro_currency , "")}}   
        {{render_field("label", "col-3", "Kurtaxe", buchung.kurtaxe | euro_currency, "")}}   
    </div> <!-- row -->      
    <div class="row">
        {{render_field("label", "col-3", "Rabatt", buchung.rabatt | rabatt, "")}}
        {{render_field("label", "col-3", "Vorauszahlung", buchung.vorauszahlung | euro_currency, "")}}   
        {{render_field("label", "col-3", "Summe", buchung.summe | euro_currency, "")}}   
    </div> <!-- row -->       
    <div class="row">
        {{render_field("label", "col-3", "Personen ab 15J", buchung.kurtaxe_vz, "")}}
        {{render_field("label", "col-3", "Beruflich", buchung.kurtaxe_hz, "")}}   
        {{render_field("label", "col-3", "Restbetrag", (buchung.summe - buchung.vorauszahlung) | euro_currency, "")}}
    </div> <!-- row -->    
    <div class="row">
        {{render_field("label", "col-3", "Kinder unter 15J", buchung.kurtaxe_kinder, "")}}
        {{render_field("label", "col-3", "Kurtaxe befreit", buchung.kurtaxe_nz, "")}}   
        {{render_field("label", "col-3", "Status", buchung.status, "")}}
    </div> <!-- row -->                
    <div class="row">
        {{render_field("label", "col-9", "Notiz", buchung.notiz, "")}} 
    </div> <!-- row -->


{% endblock %}