{% extends "layout.html" %}

<!-- 
	partial für Neue Buchung anlegen / Step 1
-->

{% from "_macros.html" import render_field %}
{% from "_macros.html" import render_label_data %}

{% block content %}

<div class="row">

  <div class="col-12">

    <p>{{besucher.vorname}} {{besucher.name}} <br />{{besucher.strasse}} {{besucher.plz}} {{besucher.stadt}}</p>

    <form method="post">

      {{ form.hidden_tag() }}

      <div class="row">
        <div class="col-4 grey-text">
          <dl>
            {{ render_label_data("Anreise", buchung.get_anreise() | euro_date) }}
            {{ render_label_data("Wohnung", buchung.apartment.name) }}
            {{ render_label_data("Preis/Nacht", buchung.get_preis_nacht() | euro_currency) }}
            {{ render_label_data("Zusatzkosten", buchung.get_zusatzkosten() | euro_currency) }}
            {{ render_label_data("Rabatt", (buchung.get_rabatt() / 100) | euro_percent) }}
            {{ render_label_data("Vorauszahlung", buchung.get_vorauszahlung() | euro_currency) }}
            {{ render_label_data("Notiz", buchung.get_notiz()) }}
          </dl>
        </div>
        <div class="col-4 grey-text">
          <dl>
            {{ render_label_data("Abreise", buchung.get_abreise() | euro_date) }}
            {{ render_label_data("Portal", buchung.portal.name) }}
            {{ render_label_data("Personen 15+ Jahre", buchung.get_kurtaxe_vz()) }}
            {{ render_label_data("Kinder 10-15 J", buchung.get_kurtaxe_hz()) }}
            {{ render_label_data("Kinder unter 10J", buchung.get_kurtaxe_kinder()) }}
            {{ render_label_data("Beruflich", buchung.get_kurtaxe_nz()) }}
          </dl>
        </div>
        <div class="col-4 grey-text">
          <dl>
            {{ render_label_data("Nächte", buchung.get_nights()) }}
            {{ render_label_data("Miete", buchung.get_miete() | euro_currency) }}
            {{ render_label_data("Kurtaxe", buchung.get_kurtaxe() | euro_currency) }}
            {{ render_label_data("Summe", buchung.get_summe() | euro_currency) }}
            {{ render_label_data("Vorauszahlung", buchung.get_vorauszahlung() | euro_currency) }}
            {{ render_label_data("Restbetrag", buchung.get_offener_betrag() | euro_currency) }}
          </dl>
        </div>
        <div class="row">
          <div class="col-10">
            {{ render_field(form.email_text) }}
          </div>
        </div>

      </div>

      <input type="submit" value="Weiter">

    </form>

  </div>
</div>
<script src="/static/node_modules/ckeditor4/ckeditor.js"></script>
<script>
  // Replace the <textarea id="editor1"> with a CKEditor 4
  // instance, using default configuration.
  CKEDITOR.replace( 'email_text' ); 
</script>

{% endblock %}