<!-- 
	partial für Neue Buchung anlegen / Step 1
-->
{% extends "layout.html" %}

{% assets "buchung_recalc_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% from "_macros.html" import render_field%}

{% block content %}

<div class="row">

  <div class="col-12">

    {% include 'besuchersnippet.html' %}

    <form method="post">

      {{ form.hidden_tag() }}

      <div class="row">
        {{render_field("input", "col-3", "", form.anreise, "")}}
        {{render_field("input", "col-3", "", form.abreise, "")}}
        {{render_field("label", "col-3 grey-text", "Nächte", "2", "")}}
      </div> <!-- row -->
      <div class="row">
        {{render_field("input", "col-3", "", form.apartment_id, "")}}
        {{render_field("input", "col-3", "", form.portal_id, "")}}   
        {{render_field("label", "col-3 grey-text", "Miete", 0.0 | euro_currency, "")}}   
      </div> <!-- row -->
      <div class="row">
        {{render_field("input", "col-3", "", form.preis_nacht, "")}}
        {{render_field("input", "col-3", "", form.zusatzkosten, "")}}   
        {{render_field("label", "col-3 grey-text", "Kurtaxe", 0.0 | euro_currency, "")}}   
      </div> <!-- row -->      
      <div class="row">
        {{render_field("input", "col-3", "", form.rabatt, "")}}
        {{render_field("input", "col-3", "", form.vorauszahlung, "")}}   
        {{render_field("label", "col-3 grey-text", "Summe", 0.0 | euro_currency, "")}}   
      </div> <!-- row -->       
      <div class="row">
        {{render_field("input", "col-3", "", form.kurtaxe_vz, "")}}
        {{render_field("input", "col-3", "", form.kurtaxe_hz, "")}}   
        {{render_field("label", "col-3 grey-text", "Restbetrag", 0.0 | euro_currency, "")}}
      </div> <!-- row -->    
      <div class="row">
        {{render_field("input", "col-3", "", form.kurtaxe_kinder, "")}}
        {{render_field("input", "col-3", "", form.kurtaxe_nz, "")}}   
        {{render_field("label", "col-3 grey-text", "Status", "-", "")}}
      </div> <!-- row -->                

      <div class="row">
        {{render_field("input", "col-3", "", form.kurtaxe_korrekturwert, "")}}  
        {{render_field("input", "col-9", "", form.notiz, "")}} 
      </div> <!-- row -->
      <div>
        {% if form.errors %}
          <div class="row">
            <div class="col-6">
              {{ form.errors }}
            </div>
          </div>
        {% endif %}
      </div>
        <p id='availability_id'></p>
        <input type="submit" value="Prüfen" onclick="return checkAvailability();">
        <input type="submit" value="Weiter">
    </form>

  </div>

  {% endblock %}