{% extends "layout.html" %}

<!-- 
	partial für Buchung ändern
-->

{% assets "buchung_recalc_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% from "_macros.html" import render_field %}

{% block content %}

    <div class="row">

      <div class="col-12">
        {% include 'besuchersnippet.html' %}
      </div>
    </div>
    <form method="post">
      {{ form.hidden_tag() }}

      <div class="row">
        {{render_field("input", "col-3", "", form.anreise, "")}}
        {{render_field("input", "col-3", "", form.abreise, "")}}
        {{render_field("label", "col-3 grey-text", "Nächte", (form.abreise.data - form.anreise.data).days, "")}}
      </div> <!-- row -->
      <div class="row">
        {{render_field("input", "col-3", "", form.apartment_id, "")}}
        {{render_field("input", "col-3", "", form.portal_id, "")}}   
        {{render_field("label", "col-3 grey-text", "Miete", buchung.miete | euro_currency, "")}}   
      </div> <!-- row -->
      <div class="row">
        {{render_field("input", "col-3", "", form.preis_nacht, "")}}
        {{render_field("input", "col-3", "", form.zusatzkosten, "")}}   
        {{render_field("label", "col-3 grey-text", "Kurtaxe", buchung.kurtaxe | euro_currency, "")}}   
      </div> <!-- row -->      
      <div class="row">
        {{render_field("input", "col-3", "", form.rabatt, "")}}
        {{render_field("input", "col-3", "", form.vorauszahlung, "")}}   
        {{render_field("label", "col-3 grey-text", "Summe", buchung.summe | euro_currency, "")}}   
      </div> <!-- row -->       
      <div class="row">
        {{render_field("input", "col-3", "", form.kurtaxe_vz, "")}}
        {{render_field("input", "col-3", "", form.kurtaxe_hz, "")}}   
        {{render_field("label", "col-3 grey-text", "Restbetrag", buchung.get_offener_betrag() | euro_currency, "")}}
      </div> <!-- row -->    
      <div class="row">
        {{render_field("input", "col-3", "", form.kurtaxe_kinder, "")}}
        {{render_field("input", "col-3", "", form.kurtaxe_nz, "")}}   
        {{render_field("label", "col-3 grey-text", "Status", buchung.status, "")}}
      </div> <!-- row -->                

      <div class="row">
        {{render_field("input", "col-3", "", form.kurtaxe_korrekturwert, "")}}
        {{render_field("input", "col-9", "", form.notiz, "")}} 
      </div> <!-- row -->      
          
      <input type="submit" value="Speichern">

      {% if form.errors %}
          {{ form.errors }}
      {% endif %}

    </form>

{% endblock %}
