{% extends "layout.html" %}

<!-- 
	partial für Buchung ändern
-->

{% from "_macros.html" import render_field %}
{% from "_macros.html" import render_label_data %}

{% block content %}

<div class="row">

  <div class="col-12">

    <p>{{besucher.vorname}} {{besucher.name}} <br />{{besucher.strasse}} {{besucher.plz}} {{besucher.stadt}}</p>

    <form method="post">

      {{ form.csrf_token }}

      <div class="row">
        <div class="col-4">
          <dl>
            {{ render_field(form.anreise) }}
            {{ render_field(form.apartment_id) }}
            {{ render_field(form.preis_nacht) }}
            {{ render_field(form.zusatzkosten) }}
            {{ render_field(form.rabatt) }}
            {{ render_field(form.vorauszahlung) }}
            {{ render_field(form.notiz) }}
          </dl>
        </div>
        <div class="col-4">
          <dl>
            {{ render_field(form.abreise) }}
            {{ render_field(form.portal_id) }}
            {{ render_field(form.kurtaxe_vz) }}
            {{ render_field(form.kurtaxe_hz) }}
            {{ render_field(form.kurtaxe_kinder) }}
            {{ render_field(form.kurtaxe_nz) }}
          </dl>
        
        
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <h4>Berechnet</h4>
            <dl>
              {{ render_label_data("Miete", buchung.get_miete() | euro_currency) }}
              {{ render_label_data("Kurtaxe", buchung.get_kurtaxe() | euro_currency) }}
              {{ render_label_data("Summe", buchung.get_summe() | euro_currency) }}
              {{ render_label_data("Vorauszahlung", buchung.get_vorauszahlung() | euro_currency) }}
              {{ render_label_data("Restbetrag", buchung.get_offener_betrag() | euro_currency) }}
            </dl>
          </div>
        {% if form.errors %}
          <div class="row">
            <div class="col-6">
              {{ form.errors }}
            </div>
          </div>
        {% endif %}
      </div>

      <input type="submit" value="Weiter">

    </form>

  </div>
  <script>
    // 
    // Set date of abreise field to 3 days ahead of anreise field
    // 
    const selectElement = document.querySelector('#anreise');

    selectElement.addEventListener('change', (event) => {

      const abreise = document.querySelector('#abreise');
      let d1 = new Date(event.target.value);
      d1.setDate(d1.getDate() + 3);
      abreise.value = d1.toISOString().substring(0,10);
    });
  </script>

</div>
{% endblock %}
