// out: ../css/myapp.css, compress: true, sourceMap: false

@frei: #ffffff; 
@weekend: #ADD8E6;
@today: orange;
@belegt: green;
@an: LightGray;
@ab: LightGray;
@wechsel-am-selben-tag: red;
@f1: SkyBlue;
@f2: DodgerBlue;
@f4: MediumSlateBlue;
@f5: Navy;
@m1: LightSalmon;
@m2: tomato;
@g1: lightgreen;
@g2: green;


body { 

	h3 {
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		color:grey;
		&.align-left{
			text-align: left;
		}
	}

	div {
		&.grey-text {
			color: grey;
		}
	}



	font-size: 1em !important;
	color: #000 !important;
	font-family: Arial !important;

	dt {
		label {
			font-size: 1em !important;
			font-weight: normal;
		}
	}


	.float-right{
		float: right;
	}

	.light-blue {
	    background-color: lightblue;
		color: lightblue;
	}

	.top-70 {
	  margin-top: 70px;
	}
	
	h2 {
		margin-bottom: 40px;
		text-align: left;
		color: black;
	}

	ul {
		padding-left: 0px;
	}
	
	li {
	    list-style-type: none;
		&.id-label {
			width: 3em;
			display: inline-block;
			text-align:right;
			padding-right:0.4em;
		}
	}
 
	#map {
	  width: 750px;
	  height: 500px;
	  padding:0,0,0,0;
	  margin:0,0,0,0;
	}
	
	#message {
		color: green;
		margin-bottom:30px;
	}

	/* li color marking for flash messages */
	li.flash {

		text-align: center;

		&.error{
			color:red;
		}
		&.message{
			color:green;
		}
	}

	table {
		&.60percent {
		width: 60%;
		}
		td, th {
			text-align: left;
			font-size: 0.8em;
			height: 0.8em;
			&.col80 {
				width:80px;
				text-align: center;
			}
			&.col40 {
				width:40px;
			}
			&.col60 {
				width:120px;
			}
			&.money {
				width:80px;
				text-align: right;
			}
			&.besucher {
				width:200px;
				text-align: left;
			}
			&.bg-white {
				background-color: white;
			}
			&.bg-yellow {
				background-color: yellow;
			}
		}
	}

	div#calendar {
		h3 {

			a {
				vertical-align: 3px;
				color:grey;
				text-decoration: none; 
				font-size: 20px;
			}
			span {
				&.fixed-width-box {
					padding-left:10px;
					padding-right:10px;
					text-align:center;
					width:170px;
					max-width:170px;
					min-width:170px;
					display: inline-block;
				}
			}
		}
		table {
			tr {
				&.color-code {
					background-color: @belegt; 
				}
			}

			td {
				text-align: center;
				font-size: 0.6rem;
				height: 1.1rem;
				width: 0.8rem;
				margin:0;
				padding:0;

				/* apartment colors */
				&.g1 {
					background-color: @g1;
					color: @g1;
				}
			
				&.g2 {
					background-color: @g2;
					color: @g2;
				}
				&.f1 {
					background-color: @f1;
					color: @f1;
				}
				&.f2 {
					background-color: @f2;
					color: @f2;
				}
				&.f4 {
					background-color: @f4;
					color: @f4;
				}
				&.f5 {
					background-color: @f5;
					color: @f5;
				}
				&.m1 {
					background-color: @m1;
					color: @m1;
				}
				&.m2 {
					background-color: @m2;
					color: @m2;
				}

				/* day of week colors */
				&.background_Sa, &.background_So  {
					background-color: @weekend;
				}
				&.background_today {
					background-color: @today;
				}

				/* arrival-, departure day colors */
				&.an {
					background-color: @an;
					color: @an;
				}
				&.ab {
					background-color: @ab;
					color: @ab;
				}
				&.aban {
					background-color: @an;
					color: @ab;
				}
			}
		}
	}
	ul.flex-vertical {
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: left;
		li {
			&.highlight {
				background-color: yellow;
			}
			padding-left: 0px;
			a {
				padding-left: 0px;
				vertical-align: 3px;
				color:grey;
				text-decoration: none; 
				font-size: 20px;
			}
		}
	}
	ul.flex-horizontal {
		display: flex;
		flex-direction: row;
		justify-content: center;
		li {
			&.highlight {
				background-color: yellow;;
			}
			padding: 0.5em 0.5em;
			a {
				vertical-align: 3px;
				color:grey;
				text-decoration: none; 
				font-size: 20px;
			}
		}
	}
}