[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
flask = "*"
pymysql = "*"
flask-wtf = "*"
email-validator = "*"
babel = "*"
pytest = "*"
python-dotenv = "*"
flask-cors = "*"
wtforms = "*"
cd = "*"
rneu = {path = "."}
uwsgi = "*"
pythonpacks = {path = "./pythonpacks-0.10l.tar.gz"}

[dev-packages]
flake8 = "*"
rope = "*"
ipykernel = "*"
autopep8 = "*"
flask-debugtoolbar = "*"

[requires]
python_version = "3.9"
