[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
flask = "2.0.2"
pymysql = "*"
flask-wtf = ">=1.0"
email-validator = "*"
babel = "*"
pytest = "*"
python-dotenv = "*"
flask-cors = ">=3.0"
wtforms = "*"
cd = "*"
uwsgi = "*"
flask-assets = ">=2.0"
cssmin = "*"
jsmin = "*"
pythonpacks = {path = "./libs/pythonpacks-1.1.tar.gz", sys_platform = "== 'linux'"}

[dev-packages]
flake8 = "*"
rope = "*"
ipykernel = "*"
autopep8 = "*"
flask-debugtoolbar = "*"

[requires] 
python = {version = ">=3.9"}
