[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
flask = "*"
pymysql = "*"
flask-wtf = "*"
flake8 = "*"
email-validator = "*"
flask-debugtoolbar = "*"

[dev-packages]
flake8 = "*"
rope = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
