{% extends "layout.html" %}

<!-- 
	partial für Homepage
-->

{% block content %}

{% if anreisen | length > 0 %}
	<div class="row table-responsive">
		<h4>Anreisen</h4>
		<table class="table table-bordered table-condensed table-hover">
			{% include 'includes/buchung-header.html' %}
			<tbody>	
			{% for buchung in anreisen %}
				{% if buchung.status in ['abgerechnet', 'gebucht'] %}
					{% include 'includes/buchung-tr.html' %}
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
	<p>Keine Anreisen in den nächsten 10 Tagen</p>
{% endif %}

{% if abreisen | length > 0 %}
	<div class="row table-responsive">
		<h4>Abreisen</h4>
		<table class="table table-bordered table-condensed table-hover">
			{% include 'includes/buchung-header.html' %}
			<tbody>	
			{% for buchung in abreisen %}
				{% if buchung.status in ['abgerechnet', 'gebucht'] %}
					{% include 'includes/buchung-tr.html' %}
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
	<p>Keine Abreisen in den nächsten 3 Tagen</p>
{% endif %}

{% if angebote | length > 0 %}
	<div class="row table-responsive">
		<h4>Angebote</h4>
		<table class="table table-bordered table-condensed table-hover">
			{% include 'includes/buchung-header.html' %}
			<tbody>	
			{% for buchung in angebote %}
				{% if buchung.status in ['angebot'] %}
					{% include 'includes/buchung-tr.html' %}
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}

{% endblock %}