<form method="post">
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="anrede" class="col-form-label">Anrede</label>	
        </div>
        <div class="col-md-9">
            <input name="anrede" type="text" class="form-control" placeholder="Fam. / Herr / Frau / Firma" id="anrede" required>
        </div>
    </div>           
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="vorname" class="col-form-label">Vorname</label>	
        </div>
        <div class="col-md-9">
            <input name="vorname"  type="text" class="form-control" id="vorname" required>
        </div>
    </div>  
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="name" class="col-form-label">Name</label>	
        </div>
        <div class="col-md-9">
            <input name="name"  type="text" class="form-control" id="name" required>
        </div>
    </div>  
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="email" class="col-form-label">Email</label>	
        </div>
        <div class="col-md-9">
            <input name="email"  type="text" class="form-control" id="email" required>
        </div>
    </div>  
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="telefon" class="col-form-label">Tel</label>	
        </div>
        <div class="col-md-9">
            <input name="tel"  type="text" class="form-control"  id="tel" required>
        </div>
    </div>  
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="strasse" class="col-form-label">Strasse</label>	
        </div>
        <div class="col-md-9">
            <input name="strasse"  type="text" class="form-control" id="strasse" required>
        </div>
    </div>  
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="plz" class="col-form-label">PLZ</label>	
        </div>
        <div class="col-md-9">
            <input name="plz"  type="text" class="form-control" id="plz" required>
        </div>
    </div>         
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="stadt" class="col-form-label">Stadt</label>	
        </div>
        <div class="col-md-9">
            <input name="stadt"  type="text" class="form-control" id="stadt" required>
        </div>
    </div>  
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="land" class="col-form-label">Land</label>	
        </div>
        <div class="col-md-9">
            <input name="land"  type="text" class="form-control" placeholder="DE" id="land" required>
        </div>
    </div>  
    <div class="row g-3">	
        <div class="col-md-3">
            <label for="vermerk" class="col-form-label">Vermerk</label>	
        </div>
        <div class="col-md-9">
            <input name="vermerk"  type="text" class="form-control" id="vermerk" required>
        </div>
    </div> 
    <div class="row g-3">
        <p></p>
    </div>            
     <div class="row g-3">
        <div class="col-md-2">
            <button class="btn btn-primary" name="button" value="update" type="submit">Speichern</button>
        </div>
     </div>
</form>