{% extends "layout.html" %}

<!-- 
	partial für Anzeige Besucher Details
-->

{% block content %}
<div class="row">
		<form method="post">
            <div class="row g-3">		
		    	<div class="col-md-1">  	
	      			<label for="anrede" class="col-form-label">Anrede</label>	
                    <input name="anrede" type="text" class="form-control" placeholder="anrede" id="anrede"
                        value="{{ request.form['anrede'] or besucher.anrede }}" required>
				</div> 	                
                <div class="col-md-2">  	
                    <label for="vorname" class="col-form-label">Vorname</label>	
                    <input name="vorname"  type="text" class="form-control" placeholder="Vorname" id="vorname"
                        value="{{ request.form['vorname'] or besucher.vorname }}" required>
                </div> 	
                <div class="col-md-3">  	
                    <label for="name" class="col-form-label">Name</label>	
                    <input name="name" type="text" class="form-control" placeholder="Name" id="name"
                        value="{{ request.form['name'] or besucher.name }}" required>
                </div> 
                <div class="col-md-3">  	
                    <label for="email" class="col-form-label">Email</label>	
                    <input name="email" type="email" class="form-control" placeholder="Email" id="email"
                        value="{{ request.form['email'] or besucher.email }}" required>
                </div>                 
                <div class="col-md-2">  	
                    <label for="tel" class="col-form-label">Telefon</label>	
                    <input name="tel" type="text" class="form-control" placeholder="Telefon" id="telefon"
                        value="{{ request.form['telefon'] or besucher.tel }}">
                </div> 		
            </div>	
            <div class="row g-3">		
		    	<div class="col-md-3">  	
	      			<label for="strasse" class="col-form-label">Strasse</label>	
                    <input name="strasse" type="text" class="form-control" placeholder="Strasse" id="strasse"
                        value="{{ request.form['strasse'] or besucher.strasse }}" required>
				</div> 	                
                <div class="col-md-1">  	
                    <label for="plz" class="col-form-label">PLZ</label>	
                    <input name="plz"  type="text" class="form-control" placeholder="PLZ" id="PLZ"
                        value="{{ request.form['plz'] or besucher.plz }}" required>
                </div> 	
                <div class="col-md-4">  	
                    <label for="stadt" class="col-form-label">Stadt</label>	
                    <input name="stadt" type="text" class="form-control" placeholder="Stadt" id="stadt"
                        value="{{ request.form['stadt'] or besucher.stadt }}" required>
                </div> 
                <div class="col-md-1">  	
                    <label for="land" class="col-form-label">Land</label>	
                    <input name="land" type="land" class="form-control" placeholder="DE" id="land"
                        value="{{ request.form['land'] or besucher.land }}" required>
                </div>                 	
            </div>	            
		 	<div class="row g-3">
                <div class="col-md-10"></div>
		 		<div class="col-md-2">
		 			<input name="submit" class="btn btn-primary btn-sm" type="submit" value="Speichern">
		 		</div>
		 	</div>
		</form>
</div> 
<div class="row">
    {% include '/buchungen/buchungenlist_partial.html' %}
</div>
{% endblock %}