<!-- 
    Created: Ralph, 20.10.2021

    Template für Bestätigungs Email
        - reenering durch Jinja2 Engine

	Changes: 
	- 09.07.2022 Corona related sections

-->

{% extends "emails/layout.html" %}

{% block content %}

{% include 'emails/fr/greeting.html' %}

<p>
	Nous avons le plaisir de vous confirmer votre réservation pour l’appartement {{buchung.apartment.name}}, 
	{{buchung.apartment.beschreibung}} 
    du {{buchung.get_anreise() |euro_date_short}} au {{buchung.get_abreise() |euro_date_short}}. 
</p>
<p>
	Le linge de lit, les serviettes et l'accès à Internet sont fournis gratuitement. En utilisant l'accès 
	Internet mis à disposition (SSID : Ferien-in-Gersfeld-Gast), vous vous engagez à n'utiliser cet accès 
	que dans le cadre des réglementations en vigueur et, en particulier, à ne pas l'utiliser pour le 
	téléchargement illégal de contenus. 
</p>

<p>
	<strong>Données visiteurs</strong>: Nous sommes tenus de communiquer les données de tous nos visiteurs de la ville de Gersfeld. 
	Veuillez nous fournir le nom, le prénom, l'adresse et la date de naissance de tous les visiteurs avant leur arrivée.
</p>
<p>
	<strong>Arrivée</strong> : Nous sommes prêts à vous accueillir entre 15h00 et 18h00 le jour de votre arrivée. Vous recevrez 
	les clés de l'appartement lorsque vous aurez payé le loyer dû et l'éventuelle taxe de séjour à votre arrivée. Vous pouvez 
	effectuer le paiement et récupérer les clés auprès de notre gérante, Mme Bianka Moeller, au 4 An der Gärtnerei, Gersfeld. 
</p>
<p>
	<strong>Départ</strong> : Le départ doit avoir lieu au plus tard à 10h00. Nous vous demandons de laisser l'appartement propre. 
</p>

<p>
	<strong>Paiement</strong> : Nous demandons le paiement du prix de la location et de la taxe de séjour, si possible, par virement 
	bancaire ou PayPal, 5 jours ouvrables avant votre arrivée. Si cela n'est pas possible, le montant est dû en espèces à l'arrivée.
</p>

<p>Informations sur le paiement :<br>
	Ralph Müller<br>
	Sparkasse Bensheim<br>
	IBAN/BIC: DE12 50950068 0001621572/HELADEF1BEN<br>
	PayPal: ralph.mueller.de@gmail.com
</p>

<p>
	<strong>Conditions d'annulation</strong> : Les réservations confirmées peuvent être annulées sans 
	frais jusqu'à 7 jours avant l'arrivée. En cas d'annulation au cours de la semaine précédant la date 
	d'arrivée, nous facturerons des frais équivalant à 50 % du prix de la location.
</p>

<p>Si vous avez des questions ou besoin d'informations supplémentaires, n'hésitez pas à nous contacter 
	par e-mail ou par téléphone.</p>

<p>Nous nous réjouissons de vous accueillir prochainement !</p>

{% include 'emails/fr/mfg.html' %}

<p><strong>Votre réservation</strong></p>

<table  class="table table-bordered table-striped col-2-table">
	<tr>
		<td>Appartement</td>			
		<td class="text-right">{{buchung.apartment.name}}</td></tr>
	<tr>
		<td>Arrivée</td>			
		<td class="text-right">{{buchung.get_anreise() | euro_date_short}}</td></tr>
	<tr>
		<td>Départ</td>			
		<td class="text-right">{{buchung.get_abreise() | euro_date_short}}</td></tr>		
	<tr>
		<td>Prix/nuitée</td>		
		<td class="text-right">{{buchung.get_preis_nacht() | euro_currency}}</td></tr>			
	<tr>
		<td>Coûts supplémentaires</td>		
		<td class="text-right">{{buchung.get_zusatzkosten() |euro_currency}}</td></tr>
	{%  if buchung.get_rabatt() > 0 %}
		<tr>
			<td>Rabais</td>				
			<td class="text-right">{{buchung.get_rabatt()}} %</td></tr>	
	{%  endif %}
	<tr>
		<td>Loyer</td>				
		<td class="text-right">{{buchung.get_miete() |euro_currency}}</td>
	</tr>
	
	<tr>
		<td>Taxe de séjour 100%</td>	
		<td class="text-right">{{buchung.get_kurtaxe_vz()}}</td></tr>			
	<tr>
		<td>Enfants</td>
		<td class="text-right">{{buchung.get_kurtaxe_kinder()}}</td></tr>	
	<tr>
		<td>Exonération de la taxe de séjour</td>	
		<td class="text-right">{{buchung.get_kurtaxe_nz()}}</td></tr>	
	<tr>
		<td>Total de la taxe de séjour</td>		
		<td class="text-right">{{buchung.get_kurtaxe() |euro_currency}}</td></tr>		
	<tr>
		<td>Total</td>				
		<td class="text-right">{{buchung.get_summe() |euro_currency}}</td></tr>						
</table>
<p>Notes sur la taxe de séjour :</p>
<ul>
	<li>
		Depuis le 1er janvier 2023, la taxe de séjour s'élève à 2,10€ / nuit pour les visiteurs ayant atteint l'âge de 14 ans. Les personnes plus jeunes 
		ne paient pas de taxe de séjour.
	</li>	
	<li>
		Les personnes visitant Gersfeld pour des raisons professionnelles (y compris 
		l'enseignement supérieur) sont exemptées de la taxe de séjour.
	</li>		
</ul>


{% endblock %}