<!-- 
    Created: Ralph, 20.10.2021

    Template für Bestätigungs Email
        - renering durch Jinja2 Engine

-->

{% extends "emails/layout.html" %}

{% block content %}

{% include 'emails/fr/greeting.html' %}

<p>
	Nous avons le plaisir de vous confirmer votre réservation pour l’appartement {{buchung.apartment.name}}, 
	{{buchung.apartment.beschreibung}} 
    du {{buchung.get_anreise() |euro_date_short}} au {{buchung.get_abreise() |euro_date_short}}. 
</p>
<p>
	Le linge de lit, les serviettes et l'accès à Internet sont fournis gratuitement. En utilisant l'accès 
	Internet mis à disposition (SSID : Ferien-in-Gersfeld-Gast), vous vous engagez à n'utiliser cet accès 
	que dans le cadre des réglementations en vigueur et, en particulier, à ne pas l'utiliser pour le 
	téléchargement illégal de contenus. 
</p>
<p>
	<strong>Règlement Corona actuel Hessen</strong> : Le 
	<a href="https://www.hessen.de/sites/hessen.hessen.de/files/2021-12/silvester-corona-regeln_hessen_161221_v3.pdf">
		règlement Corona du Land de Hesse</a>  s'applique. Veuillez noter que d'autres règles peuvent s'appliquer 
		à votre date d'arrivée… 
</p>
<ul>
	<li>obligation de 2G pour les hôtes touristiques qui passent la nuit Entièrement (Entièrement vaccinés ou guéris, peut exiger 
		en plus une 3e vaccination ou un test rapide négatif) 
	</li>
	<!-- <li>2G pour l'utilisation des installations communes (réfectoires, piscines, etc.)
	</li> -->
</ul>	

<p>
	<strong>Données visiteurs</strong>: Nous sommes tenus de communiquer les données de tous nos visiteurs de la ville de Gersfeld. 
	Veuillez nous fournir le nom, le prénom, l'adresse et la date de naissance de tous les visiteurs avant leur arrivée.
</p>
<p>
	<strong>Arrivée</strong> : Nous sommes prêts à vous accueillir entre 15h00 et 18h00 le jour de votre arrivée. Vous recevrez 
	les clés de l'appartement lorsque vous aurez payé le loyer dû et l'éventuelle taxe de séjour à votre arrivée. Vous pouvez 
	effectuer le paiement et récupérer les clés auprès de notre gérante, Mme Bianka Moeller, au 4 An der Gärtnerei, Gersfeld. 
	En raison de la réglementation Corona, nous sommes obligés de vous demander de faire vos propres lits. Vous trouverez 
	les draps et les serviettes dans des boîtes en plastique dans l'appartement. 
</p>
<p>
	<strong>Départ</strong> : Le départ doit avoir lieu au plus tard à 10h00. Nous vous demandons de laisser l'appartement propre. 
	Conformément à la réglementation Corona, nous vous demandons de remettre les serviettes et le linge de lit dans les boîtes 
	en plastique. N'oubliez pas de laisser les clés sur la table de la cuisine.
</p>

<p>
	<strong>Paiement</strong> : Nous demandons le paiement du prix de la location et de la taxe de séjour, si possible, par virement 
	bancaire ou PayPal, 5 jours ouvrables avant votre arrivée. Si cela n'est pas possible, le montant est dû en espèces à l'arrivée.
</p>

<p>Informations sur le paiement :<br>
	Ralph Müller<br>
	Sparkasse Bensheim<br>
	IBAN/BIC: DE12 50950068 0001621572/HELADEF1BEN<br>
	PayPal: ralph.mueller.de@gmail.com
</p>

<p>
	<strong>Conditions d'annulation</strong> : Les réservations confirmées peuvent être annulées sans 
	frais jusqu'à 7 jours avant l'arrivée. En cas d'annulation au cours de la semaine précédant la date 
	d'arrivée, nous facturerons des frais équivalant à 50 % du prix de la location.
</p>

<p>
	Veuillez noter qu'en raison de la Covid-19 (pandémie de Corona), nous avons dû prendre certaines mesures 
	supplémentaires. Nous avons retiré tous les oreillers et couvertures supplémentaires dans les pièces à 
	vivre. Dans les entrées communes des appartements Flieger- et Gartenstraße, nous avons mis à disposition 
	un désinfectant pour les mains.
</p>

<p>Si vous avez des questions ou besoin d'informations supplémentaires, n'hésitez pas à nous contacter 
	par e-mail ou par téléphone.</p>

<p>Nous nous réjouissons de vous accueillir prochainement !</p>

{% include 'emails/fr/mfg.html' %}

<p><strong>Votre réservation</strong></p>

<table  class="table table-bordered table-striped col-2-table">
	<tr>
		<td>Appartement</td>			
		<td class="text-right">{{buchung.apartment.name}}</td></tr>
	<tr>
		<td>Arrivée</td>			
		<td class="text-right">{{buchung.get_anreise() | euro_date_short}}</td></tr>
	<tr>
		<td>Départ</td>			
		<td class="text-right">{{buchung.get_abreise() | euro_date_short}}</td></tr>		
	<tr>
		<td>Prix/nuitée</td>		
		<td class="text-right">{{buchung.get_preis_nacht() | euro_currency}}</td></tr>			
	<tr>
		<td>Coûts supplémentaires</td>		
		<td class="text-right">{{buchung.get_zusatzkosten() |euro_currency}}</td></tr>
	{%  if buchung.get_rabatt() > 0 %}
		<tr>
			<td>Rabais</td>				
			<td class="text-right">{{buchung.get_rabatt()}} %</td></tr>	
	{%  endif %}
	<tr>
		<td>Loyer</td>				
		<td class="text-right">{{buchung.get_miete() |euro_currency}}</td>
	</tr>
	
	<tr>
		<td>Taxe de séjour 100%</td>	
		<td class="text-right">{{buchung.get_kurtaxe_vz()}}</td></tr>		
	<tr>
		<td>Taxe de séjour 50%</td>	
		<td class="text-right">{{buchung.get_kurtaxe_hz()}}</td></tr>	
	<tr>
		<td>Enfants</td>
		<td class="text-right">{{buchung.get_kurtaxe_kinder()}}</td></tr>	
	<tr>
		<td>Exonération de la taxe sur le spa</td>	
		<td class="text-right">{{buchung.get_kurtaxe_nz()}}</td></tr>	
	<tr>
		<td>Total de la taxe de séjour</td>		
		<td class="text-right">{{buchung.get_kurtaxe() |euro_currency}}</td></tr>		
	<tr>
		<td>Total</td>				
		<td class="text-right">{{buchung.get_summe() |euro_currency}}</td></tr>						
</table>
<p>Notes sur la taxe de séjour :</p>
<ul>
	<li>
		La taxe de séjour est, depuis le 2 mars 2019, de 2,40 € / nuit pour les visiteurs 
		de plus de 14 ans (100%) et de 1,20 € pour les visiteurs âgés de 10 à 15 ans (50%). 
		Les enfants âgés de moins de 10 ans ne paient pas la taxe de séjour.
	</li>	
	<li>
		Les personnes visitant Gersfeld pour des raisons professionnelles (y compris 
		l'enseignement supérieur) sont exemptées de la taxe de séjour.
	</li>		
</ul>


{% endblock %}