<!-- 
	* Jinja partial
	* schicke Email an das Team: Buchung geändert
	* ralph, 7.11.2021
-->

{% extends 'emails/layout.html' %}


{% block content %}

	<p>Änderung  für <strong>{{buchung.besucher.anrede}} 
        {{buchung.besucher.vorname}} {{buchung.besucher.name}}</strong>,
        {{buchung.besucher.stadt}}, {{buchung.besucher.strasse}}<p>

	<table  class="table table-bordered table-condensed table-hover table-striped col-2-table">
		<tr>
			<td>Wohnung</td>			
			<td class="text-right">{{ buchung_alt.apartment.name }}</td>
			<td class="text-right">{{ buchung.apartment.name }}</td>
		</tr>
		<tr>
			<td>Anreise</td>			
			<td class="text-right">{{ buchung_alt.get_anreise() | euro_date_short }}</td>
			<td class="text-right">{{ buchung.get_anreise() | euro_date_short }}</td>
		</tr>
		<tr>
			<td>Abreise</td>			
			<td class="text-right">{{ buchung_alt.get_abreise() | euro_date_short }}</td>
			<td class="text-right">{{ buchung.get_abreise() | euro_date_short }}</td>
		</tr>		
        <tr>
            <td>Preis/Nacht</td>		
            <td class="text-right">{{ buchung_alt.get_preis_nacht() | euro_currency }} €</td>
            <td class="text-right">{{ buchung.get_preis_nacht() | euro_currency }} €</td>
        </tr>			
        <tr>
            <td>Zusatzkosten</td>		
            <td class="text-right">{{ buchung_alt.get_zusatzkosten() | euro_currency }} €</td>
            <td class="text-right">{{ buchung.get_zusatzkosten() | euro_currency }} €</td>
        </tr>
        <tr>
            <td>Miete</td>				
            <td class="text-right">{{ buchung_alt.get_miete() | euro_currency }} €</td>
            <td class="text-right">{{ buchung.get_miete() | euro_currency }} €</td>
        </tr>					
        <tr>
            <td>Kurtaxe Vollzahler</td>	
            <td class="text-right">{{ buchung_alt.get_kurtaxe_vz() }}</td>
            <td class="text-right">{{ buchung.get_kurtaxe_vz() }}</td>
        </tr>		
        <tr>
            <td>Kurtaxe Halbzahler</td>	
            <td class="text-right">{{ buchung_alt.get_kurtaxe_hz() }}</td>
            <td class="text-right">{{ buchung.get_kurtaxe_hz() }}</td>
        </tr>	
        <tr>
            <td>Kinder u. 10 Jahren</td>
            <td class="text-right">{{ buchung_alt.get_kurtaxe_kinder() }}</td>
            <td class="text-right">{{ buchung.get_kurtaxe_kinder() }}</td>
        </tr>	
        <tr>
            <td>Kurtaxe befreit</td>	
            <td class="text-right">{{ buchung_alt.get_kurtaxe_nz() }}</td>
            <td class="text-right">{{ buchung.get_kurtaxe_nz() }}</td>			
        </tr>	
        <tr>
            <td>Kurtaxe gesamt</td>		
            <td class="text-right">{{ buchung_alt.get_kurtaxe() | euro_currency }} €</td>
            <td class="text-right">{{ buchung.get_kurtaxe() | euro_currency }} €</td>
        </tr>		
        <tr>
            <td>Rabatt</td>				
            <td class="text-right">{{ buchung_alt.get_rabatt() | euro_currency }}%</td>
            <td class="text-right">{{ buchung.get_rabatt() | euro_currency }}%</td>
        </tr>
        <tr>
            <td>Vorauszahlung</td>				
            <td class="text-right">{{ buchung_alt.get_vorauszahlung() | euro_currency }} €</td>
            <td class="text-right">{{ buchung.get_vorauszahlung() | euro_currency }} €</td>
        </tr>		
        <tr>
            <td>Summe</td>				
            <td class="text-right">{{ buchung_alt.get_summe() | euro_currency }} €</td>
            <td class="text-right">{{ buchung.get_summe() | euro_currency }} €</td>
        </tr>	
        <tr>
            <td>Offener Betrag</td>				
            <td class="text-right">{{ buchung_alt.get_offener_betrag() | euro_currency }} €</td>
            <td class="text-right">{{ buchung.get_offener_betrag() | euro_currency }} €</td>
        </tr>						
	</table>
			
{% endblock %}