<html>

<head>
	<meta name="author" content="Ralph Mueller">
	<meta name="keywords" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css">
	
	<style type="text/css">
	/* ... Hier werden die Formate definiert ... */
		* {
			font-family: "Times New Roman","Times New Roman",Times,serif; 
			font-size: 1.0rem;
		}

		table {
			width:80%;
		}

		p.small {
			font-family: Georgia,"Times New Roman",Times,serif; 
			font-size: 0.8rem;
		}

	</style>

</head>

<body>
		
	<div class="container">

		{% block content %}{% endblock %}
	
	</div>
	
</body>
</html>