<!-- 
    Created: Ralph, 21.10.2021

    Template für storno Email

-->

{% extends "emails/layout.html" %}

{% block content %}

{% include 'emails/en/greeting.html' %}

<p>
	We hereby confirm the cancellation of your booking with {{ operator.name }}.

    Here are the details of the cancelled booking:
</p>
<ul>
    <li>Apartment: {{buchung.apartment.name}}</li>
    <li>Dates: {{buchung.get_anreise() |euro_date_short}} - {{buchung.get_abreise() |euro_date_short}}</li>
    <li>Rent and Spa tax: {{buchung.get_summe() | euro_currency}}</li>
    <li>Total amount due: {{buchung.get_offener_betrag() | euro_currency}}</li>
</ul>

<p>We're sorry it didn't work out this time, but hope we'll be able to welcome you in the future!</p>

{% include 'emails/en/mfg.html' %}

{% endblock %}