<!-- 
    Created: Ralph, 27.12.2021

    Greeting fragment German 
        - rendering durch Jinja2 Engine
-->

<p>
    Dear 
    
    {% if buchung.besucher.anrede == 'Herr' %}
        Dear Mr. {{buchung.besucher.name}}, 
    {% endif %}
    {% if buchung.besucher.anrede == 'Frau' %}
        Dear Mrs. {{buchung.besucher.name}}, 
    {% endif %}
    {% if buchung.besucher.anrede == 'Fam.' %}
        Dear {{buchung.besucher.name}} family, 
    {% endif %}
    {% if buchung.besucher.anrede == 'Firma' %}
        Dear ladies and gentlemen, 
    {% endif %}
</p>