<!-- 
    Created: Ralph, 27.12.2021

    Greeting fragment German 
        - rendering durch Jinja2 Engine
-->

<p>
    Dear 
    
    {% if buchung.besucher.anrede == 'Herr' %}
        Mr. {{buchung.besucher.name}}, 
    {% endif %}
    {% if buchung.besucher.anrede == 'Frau' %}
        Mrs. {{buchung.besucher.name}}, 
    {% endif %}
    {% if buchung.besucher.anrede == 'Fam.' %}
        {{buchung.besucher.name}} family, 
    {% endif %}
    {% if buchung.besucher.anrede == 'Firma' %}
        Sir or Madam, 
    {% endif %}
</p>