{% extends "layout.html" %}

<!-- 
	partial for finding a visitor
-->

{% block content %}

<div class="row g-3">
	<div class="col-md-12">
	  	<form role="form">
	    	<div class="form-group">
	      		<input type="text" id="textInput" class="form-control" placeholder="Anfangsbuchstaben Nachname">
	    	</div>
	  	</form>
		<div class="table-responsive"></div>
			<table class="table table-bordered table-condensed table-hover">
				<tbody id="results"/>
			</table>
		</div>
		<p>Suchen ... mindestens 3 Zeichen eintippen. Nicht mit Enter abschließen. </p>
		<p>
			Müller - findet alle Besucher mit Nachnamen Müller<br>
			Müller* - findet Müller, Müller-Stolz usw.<br>
			*Müller - findet Wegmüller, Schulze-Müller<br>
			*Müller* - Wegmüller, Wegmüller-Schulz</p>
	</div>
</div>

{% endblock %}