{% from "_macros.html" import render_field %}

<div>
  <form method="post" action="{{ url_for('besucher_bp.update', besucher_id=besucher.id) }}">

    {{ form.hidden_tag() }}

    {{render_field("input", "col-8", "", form.anrede, "")}} 
    {{render_field("input", "col-8", "", form.vorname, "")}} 
    {{render_field("input", "col-8", "", form.name, "")}} 
    {{render_field("input", "col-8", "", form.firmenname, "")}} 
    {{render_field("input", "col-8", "", form.email, "")}} 
    {{render_field("input", "col-8", "", form.tel, "")}} 
    {{render_field("input", "col-8", "", form.strasse, "")}} 
    {{render_field("input", "col-8", "", form.plz, "")}} 
    {{render_field("input", "col-8", "", form.stadt, "")}} 
    {{render_field("input", "col-8", "", form.land, "")}} 
    {{render_field("input", "col-8", "", form.language, "")}} 
    {{render_field("input", "col-8", "", form.vermerk, "")}} 

    <input type="submit" value="Speichern">

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

  </form>
</div>