<!-- 
	Rechnungsformular Ferien-in-Gersfeld
	Abgeleitet aus alter TWIG Version, umgestellt für Jinja2
	Autor: Ralph Müller
	20.11.2021
 -->
<!DOCTYPE html>
<html lang="de">
	<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Ralph Mueller">

	<title>Rechnung</title>
	<!-- Date: 2014-04-20 -->
	<!-- Kurtaxe geändert 2017-01-05 -->
	<!-- Neue Variable mwst_satz: Eingeführt, um COVID VAT Senkung zu berücksichtigen! 2020-06-28 -->

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/print.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

</head>

<body>
	<div class="container">
	    <div id="header">
			<div class="image">
				<img src="{{ url_for('static', filename='img/fewologo.jpg') }}">
			</div>
			<div class="header-text">
				<h1>Rechnung</h1>
				<p>Ferien-in-Gersfeld</p>
			</div>
		</div> <!-- header -->

		<div id="address-date">
			<!-- Anschrift -->
			<div id="address">
				{{ buchung.besucher.anrede}} <br>
				<strong>{{ buchung.besucher.vorname}}&nbsp;{{ buchung.besucher.name}}</strong> <br>
				{{ buchung.besucher.firmenname}}<br>
				{{ buchung.besucher.strasse}}<br>
				{{ buchung.besucher.plz}}&nbsp;{{ buchung.besucher.stadt}}
			</div> <!-- address -->

			<!-- Datum, Rechnungs-Nr. -->

			<div id="date">
				<p>Gersfeld, den {{ buchung.rechnungsdatum | euro_date_short }}<br>
				Rechnung Nr. {{ buchung.rechnungs_nummer }}</p>
			</div>  <!-- date -->
		
		</div>	<!-- address-date -->
		<div id="visit-description">
			<p>
				Ihr Aufenthalt Ferienwohnung {{ buchung.apartment.name }} vom 
				{{ buchung.anreise | euro_date_short }} bis  {{ buchung.abreise | euro_date_short }}
			</p>
		</div>
		<div id="invoice-data">
			<table id="rechnung">
				<tr id="table-header">
					<th class="long">Beschreibung</th><th class="long">Menge</th><th class="medium">Einzelbetrag</th><th class="medium">Summe</th>
				</tr>
				<tr>
					<td class="long">Mietpreis</td>
					<td class="long">{{ buchung.get_nights() }} Nächte</td>
					<td class="medium">{{ buchung.preis_nacht  | euro_currency}}</td>
					<td class="medium"> {{ buchung.miete | euro_currency}}</td>		
				</tr>
				<tr>
					<td class="long">Zusätzliche Kosten</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium"> {{ buchung.zusatzkosten | euro_currency}}</td>		
				</tr>						
				<tr>
					<td class="long">Kurtaxe (Info siehe Fussnote)</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium"> {{ buchung.kurtaxe | euro_currency}}</td>		
				</tr>
				<tr>
					<td class="long">Umsatzsteuer</td>
					<td class="long">{{mwst_satz}} %</td>
					<td class="medium"></td>
					<td class="medium"> {{ buchung.mwst | euro_currency}}</td>		
				</tr>
				<tr>
					<td class="long">Summe</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium"> {{ buchung.summe | euro_currency}} </td>		
				</tr>
				<tr>
					<td class="long">Vorauszahlung</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium"> {{ buchung.vorauszahlung | euro_currency}} </td>		
				</tr>		
				<tr>
					<td class="long">Offener Betrag</td>
					<td class="long"></td>
					<td class="medium"></td>
					
					<td class="medium"> {{ buchung.offener_betrag | euro_currency}} </td>		
				</tr>
			</table>
			<p id="filename">&nbsp;<br>Dateiname: {{ buchung.rechnungs_nummer }}-{{ buchung.besucher.name }}<p>			
			<p>&nbsp;</p>	
		</div> <!-- invoice-data -->
		<div id="kurtaxe-text">
			<p>Berechnung der Kurtaxe:</p> 
					<ul>
						<li>Die Kurtaxe beträgt € 2,40	 / Nacht für Besucher, die das 14. Lebensjahr beendet haben 
							(Vollzahler) und € 1,20 für Besucher zwischen dem 10. und 15. Lebensjahr (Halbzahler). 
							Kinder vor Vollendung des 10. Lebensjahres zahlen keine Kurtaxe (Kinder).
						</li>	
						<li>Von der Kurtaxe befreit sind Personen, die  Gersfeld aus beruflichen Gründen 
							(auch Fortbildung) besuchen.
						</li>		
					</ul>
		</div> <!-- kurtaxe-text -->
		<div id="mfg">
			<p>Mit freundlichen Grüßen</p>
			<p>Ralph Müller<br>
				Ferien-In-Gersfeld
			 </p>
		</div> <!-- mfg -->
		<div id="footer">
			<p>Ferienwohnungen <a href="https://www.ferien-in-gersfeld.de">Ferien-in-Gersfeld</a><br>
				Gartenstraße 4, 36129 Gersfeld<br>
				p: 0700 789 33344&nbsp;&nbsp;m: info@ferien-in-gersfeld.de<br>
				IBAN/BIC: DE12 50950068 0001621572/HELADEF1BEN<br>
				USt-ID: DE 25 219 6052
			</p>
		</div> <!-- footer -->	
		<div id="weiter-button">
			<input type="submit" value="Drucken" onclick="window.print('')">
			<input type="submit" value="Weiter" onclick="location.href='/besucher/update/{{buchung.besucher_id}}'">
		</div>
	</div>
</body>
</html>