<!-- 
	Rechnungsformular Ferien-in-Gersfeld
	Abgeleitet aus alter TWIG Version, umgestellt für Jinja2
	Autor: Ralph Müller
	20.11.2021
 -->
<!DOCTYPE html>
<html lang="de">
	<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Ralph Mueller">

	<title>Rechnung</title>
	<!-- Date: 2014-04-20 -->
	<!-- Kurtaxe geändert 2017-01-05 -->
	<!-- Neue Variable mwst_satz: Eingeführt, um COVID VAT Senkung zu berücksichtigen! 2020-06-28 -->

	{% assets "print_css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

</head>

<body>
	<div class="container">
	    <div id="header">
			<div class="fewologo">
				<img src="{{ url_for('static', filename='img/fewologo.jpg') }}">
			</div>
			<div class="header-text">
				<h1>Rechnung</h1>
				<p>{{ operator.name }}</p>
			</div>
		</div> <!-- header -->
		<div id="address-date">
			<!-- Anschrift -->
			<div class="address-block">
				{{ buchung.besucher.anrede}} <br>
				<strong>{{ buchung.besucher.vorname}}&nbsp;{{ buchung.besucher.name}}</strong> <br>
				{{ buchung.besucher.firmenname}}<br>
				{{ buchung.besucher.strasse}}<br>
				{{ buchung.besucher.plz }}&nbsp;{{ buchung.besucher.stadt}}
			</div> <!-- address -->

			<!-- Datum, Rechnungs-Nr. -->

			<div class="date-block">
				<p>{{ operator.gemeinde }}, den {{ buchung.rechnungsdatum | euro_date_short }}<br>
				Rechnung Nr. {{ buchung.rechnungs_nummer }}</p>
			</div>  <!-- date -->	
		</div>	<!-- address-date -->
		<div id="visit-description">
			<h2>
				Ihr Aufenthalt Ferienwohnung {{ buchung.apartment.name }} vom 
				{{ buchung.anreise | euro_date_short }} bis  {{ buchung.abreise | euro_date_short }}
			</h2>
		</div>
		<div id="invoice-data">
			<table>
				<tr id="table-header">
					<th class="long">Beschreibung</th><th class="long">Menge</th><th class="medium">Einzelbetrag</th><th class="medium">Summe</th>
				</tr>
				<tr>
					<td class="long">Mietpreis</td>
					<td class="long">{{ buchung.get_nights() }} Nächte</td>
					<td class="medium">{{ buchung.preis_nacht | euro_currency }}</td>
					<td class="medium">{{ buchung.miete | euro_currency }}</td>
				</tr>
				<tr>
					<td class="long">Zusätzliche Kosten</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium">{{ buchung.zusatzkosten | euro_currency }}</td>
				</tr>
				<tr>
					<td class="long">Kurtaxe (Info siehe Fussnote)</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium">{{ buchung.kurtaxe | euro_currency }}</td>
				</tr>
				<tr>
					<td class="long">Umsatzsteuer {{ mwst_satz }} % (Übernachtung)</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium">{{ buchung.mwst | euro_currency }}</td>
				</tr>
				<tr>
					<td class="long">Summe Übernachtung</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium">{{ buchung.summe | euro_currency }}</td>
				</tr>

				{% if verkaeufe %}
				<tr>
					<td class="long" colspan="4"><strong>Verkaufte Waren</strong></td>
				</tr>
				{% for v in verkaeufe %}
				<tr>
					<td class="long">{{ v.ware.bezeichnung }}</td>
					<td class="long">{{ v.menge }} Stück</td>
					<td class="medium">{{ v.preis_zum_zeitpunkt | euro_currency }}</td>
					<td class="medium">{{ (v.menge * v.preis_zum_zeitpunkt) | euro_currency }}</td>
				</tr>
				{% endfor %}
				{% for rate, brutto, mwst in waren_mwst_detail %}
				<tr>
					<td class="long">Umsatzsteuer {{ rate }} % (Waren)</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium">{{ mwst | euro_currency }}</td>
				</tr>
				{% endfor %}
				<tr>
					<td class="long">Summe Waren</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium">{{ waren_summe | euro_currency }}</td>
				</tr>
				{% endif %}

				<tr>
					<td class="long"><strong>Gesamtsumme</strong></td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium"><strong>{{ gesamtsumme | euro_currency }}</strong></td>
				</tr>
				<tr>
					<td class="long">Vorauszahlung</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium">{{ buchung.vorauszahlung | euro_currency }}</td>
				</tr>
				<tr>
					<td class="long">Offener Betrag</td>
					<td class="long"></td>
					<td class="medium"></td>
					<td class="medium">{{ offener_betrag | euro_currency }}</td>
				</tr>
			</table>
		</div> <!-- invoice-data -->
		<div id="kurtaxe-text">
			<p>Berechnung der Kurtaxe:</p> 
			<ul>
				<li>
					Die Kurtaxe beträgt {{ operator.kurtaxe_satz_vz }}€ / Nacht für Besucher, die das 14. Lebensjahr beendet haben. Jüngere Personen
					zahlen keine Kurtaxe.
				</li>
				{% if operator.kurtaxe_link %}
				<li>
					Die aktuelle Kurtaxordnung können Sie über die
					<a href="{{ operator.kurtaxe_link }}">Webseite der Stadt {{ operator.gemeinde }}</a> einsehen.
				</li>
				{% endif %}	
			</ul>
		</div> <!-- kurtaxe-text -->
		<div id="mfg">
			<p>Mit freundlichen Grüßen</p>
			<p>{{ operator.inhaber }}<br>
				{{ operator.name }}
			 </p>
		</div> <!-- mfg -->
		<div id="footer">
			<p>{{ operator.name }}<br>
				{{ operator.strasse }}, {{ operator.plz_ort }}<br>
				&#x260E; &nbsp; <strong>{{ operator.tel }}</strong>{% if operator.tel_intl %} / International: {{ operator.tel_intl }}{% endif %}<br>
				&#x1F4E7; &nbsp; {{ operator.email }}, {{ operator.website }}<br>
				IBAN/BIC: {{ operator.iban }}/{{ operator.bic }}<br>
				{% if operator.ust_id %}USt-ID: {{ operator.ust_id }}{% endif %}
			</p>
		</div> <!-- footer -->	
		<div id="weiter-button">
			<p id="filename">&nbsp;<br>Dateiname: {{ buchung.rechnungs_nummer }}-{{ buchung.besucher.name }}<p>	
			<input type="submit" value="Drucken" onclick="window.print('')">
			<input type="submit" value="Weiter" onclick="location.href='/besucher/update/{{buchung.besucher_id}}'">
		</div>
	</div>
</body>
</html>