div[class^="form-row"] {
    outline: 1px dotted rgba(0, 255, 0, 0.7);
}

div[class^="form-group"] {
    outline: 1px dotted rgba(255, 0, 0, 0.7);
}

body .light-blue {
  background-color: blue;
}
body .top-70 {
  margin-top: 70px;
}

body h2 {
  margin-bottom: 40px;
  text-align: center;
  text-color: red;
}
body ul {
  padding-left: 0px;
}
body li {
  list-style-type: none;
}
body li.id-label {
  width: 3em;
  display: inline-block;
  text-align: right;
  padding-right: 0.4em;
}
body #map {
  width: 750px;
  height: 500px;
  padding: 0,0,0,0;
  margin: 0,0,0,0;
}
body #message {
  color: green;
  margin-bottom: 30px;
}
body table.60percent {
  width: 60%;
}
body table td {
  text-align: center;
  font-size: 1em;
  height: 1.1em;
}
body table td.col20 {
  width: 20px;
}
body table td.col40 {
  width: 40px;
}
body table td.bg-white {
  background-color: white;
}
body table td.bg-yellow {
  background-color: yellow;
}
body table#calendar tr.color-code {
  background-color: #008000;
}
body table#calendar th {
  font-size: 1.2em;
}
body table#calendar td {
  text-align: center;
  font-size: 1em;
  height: 1.1em;
  width: 15px;
  margin: 0;
  padding: 0;
}
body table#calendar td.belegung_0 {
  background-color: #ffffff;
}
body table#calendar td.belegung_1 {
  background-color: #008000;
}
body table#calendar td.belegung_2 {
  background-color: #add8e6;
}
body table#calendar td.belegung_4 {
  background-color: #ff0000;
}
body table#calendar td.background_Sa,
body table#calendar td.background_So {
  background-color: #add8e6;
}
