body {
  font-size: 1em !important;
  color: #000 !important;
  font-family: Arial !important;
  /* li color marking for flash messages */

}
body dt label {
  font-size: 1em !important;
  font-weight: normal;
}
body .float-right {
  float: right;
}
body .light-blue {
  background-color: blue;
}
body .top-70 {
  margin-top: 70px;
}
body h2 {
  margin-bottom: 40px;
  text-align: left;
  color: black;
}
body ul {
  padding-left: 0px;
}
body li {
  list-style-type: none;
}
body li.id-label {
  width: 3em;
  display: inline-block;
  text-align: right;
  padding-right: 0.4em;
}
body #map {
  width: 750px;
  height: 500px;
  padding: 0,0,0,0;
  margin: 0,0,0,0;
}
body #message {
  color: green;
  margin-bottom: 30px;
}
body li.error {
  color: red;
}
body li.message {
  color: green;
}
body table.60percent {
  width: 60%;
}
body table td {
  text-align: left;
  font-size: 0.8em;
  height: 0.8em;
}
body table td.col20 {
  width: 20px;
}
body table td.col40 {
  width: 40px;
}
body table td.bg-white {
  background-color: white;
}
body table td.bg-yellow {
  background-color: yellow;
}
body table#calendar tr.color-code {
  background-color: #008000;
}
body table#calendar td {
  text-align: center;
  font-size: 0.6rem;
  height: 1.1rem;
  width: 0.8rem;
  margin: 0;
  padding: 0;
}
body table#calendar td.belegung_0 {
  background-color: #ffffff;
}
body table#calendar td.belegung_1 {
  background-color: #008000;
}
body table#calendar td.belegung_2 {
  background-color: #add8e6;
}
body table#calendar td.belegung_4 {
  background-color: #ff0000;
}
body table#calendar td.background_Sa,
body table#calendar td.background_So {
  background-color: #add8e6;
}
body table#calendar td.background_today {
  background-color: #ffa500;
}
