{% extends "layout.html" %}

<-- 
	partial für Abgerechnete Besuche pro Jahr / Monat / Apartment
-->

{% block content %}
	<h2><a href="/calendar/month?year={{around[0][1]}}&month={{around[0][0]}}">&lt&nbsp;</a> {{month}} / {{year}} <a href="/calendar/month?year={{around[1][1]}}&month={{around[1][0]}}">&nbsp;&gt</a></h2>
	<table id="calendar" class="table table-bordered table-condensed table-hover 80percent">
		<tr>
			<td></td>
			{% for day in days %} 
				<td class="10px background_{{day[1]}}">{{day[0]}}<br>{{day[1]}}</td>
			{% endfor %}
		</tr>			
		{% for apt in data %}
		<tr>
			<td>{{apt[0]['apt']}}</td>
			{% for day in apt %} 
				<td id="{{day['buchung_id']}}" onclick="getBuchungDetails(`{{day['buchung_id']}}`)" class="10px {{day['belegung']}}" data-toggle="tooltip" title="{{day['buchung']}}"></td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

	<script src="/static/js/buchung.js"></script>

{% endblock %}