<!-- 
	partial für gebuchte / abgerechnete  Besuche für einen  Monat
-->

{% extends "layout.html" %}

{% block content %}
<div id="calendar">
	<h3><a href="/calendar/month?year={{around[0][1]}}&month={{around[0][0]}}">&#x25c0;</a><span class="fixed-width-box"> {{month}} / {{year}} </span><a href="/calendar/month?year={{around[1][1]}}&month={{around[1][0]}}">&#x25b6;</a></h2>
	<table class="table table-bordered table-condensed table-hover 80percent">
		<tr>
			<td></td>
			{% for day in days %} 
				<td class="10px background_{{day[1]}}">{{day[0]}}<br>{{day[1]}}</td>
			{% endfor %}
		</tr>			
		{% for apt in data %}
		<tr>
			<td>{{apt[0]['apt']}}</td>
			{% for day in apt %} 
				<td id="{{day['buchung_id']}}" onclick="getBuchungDetails(`{{day['buchung_id']}}`)" class="10px {{day['belegung']}}" data-toggle="tooltip" title="{{day['buchung']}}"></td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
<script src="/static/js/buchung.js"></script>

{% endblock %}