{% macro render_input(field) %}
  
  <dl>
    {% set cls = "form-control" %}
    <dt>{{ field.label }}</dt>
    <dd>{{ field(class_=cls)|safe }}
    {% if field.errors %}
      <ul class="errors">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    </dd>
  </dl>
{% endmacro %}

{% macro render_label(label, data, extra) -%}
  <dl>
    <dt> {{label}} </dt>
    <dd id="{{ label | lower}}"> {{data}} {{extra}}</dd>
  </dl>
{%- endmacro %}

{% macro render_field(field_tpye, css_classes, label, data_field, value) %}
  <div class="{{css_classes}}">
    {% if field_tpye == 'input' %}
      {{render_input(data_field)}}
    {% else %} 
      {{render_label(label, data_field)}}
    {% endif %}
  </div>
{% endmacro %}
