<!-- 
	partial for left-side 
-->

<h3 class="align-left">Aktionen</h3>

{% if actions %}
    <ul class="flex-vertical">
    {% for action in actions %}
    <li class="nav-item"><a class="nav-link" target="_self" href={{action[1]}}>{{action[0]}}</a></li>
    {% endfor %}
    </ul>
{% else %}		
    <ul class="flex-vertical"> 
        <li class="nav-item"><a class="nav-link" target="_self" href="{{url_for('besucher_bp.find')}}">Besucher finden</a></li>
        <li class="nav-item"><a class="nav-link" target="_self" href="{{url_for('buchung_bp.schnell')}}">Schnellbuchung</a></li>
    </ul>
{% endif %}


<ul  class="flex-vertical">
    <li class="nav-item"><a class="nav-link" target="_blank" href="{{ operator.website }}">Preisliste</a></li>
</ul>
