<!-- 
	partial for left-side 
-->

<h3>Aktionen</h3>
<ul  class="actions">
    <li class="nav-item"><a class="nav-link" target="_blank" href="https://ferien-in-gersfeld.de">Ferien-in-Gersfeld</a></li>
    <li class="nav-item"><a class="nav-link" target="_blank" href="https://ferien-in-gersfeld.de">Preisliste 2022</a></li>
</ul>
{% if actions %}
    <ul class="actions">
    {% for action in actions %}
    <li class="nav-item"><a class="nav-link" target="_self" href={{action[1]}}>{{action[0]}}</a></li>
    {% endfor %}
    </ul>
{% else %}		
    <ul class="actions"> 
        <li class="nav-item"><a class="nav-link" target="_self" href="{{url_for('besucher_bp.besucher_find')}}">Besucher finden</a></li>
        <li class="nav-item"><a class="nav-link" target="_self" href="#">Buchung finden</a></li>
    </ul>
{% endif %}

{% include 'flash.html' %}