<!-- 

    script files js

-->
<script src="/static/node_modules/jquery/dist/jquery.js"></script>
<script src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/node_modules/chart.js/dist/chart.js"></script>
<script src="/static/node_modules/rx/dist/rx.lite.compat.js"></script>
<script src="/static/js/chart_functions.js"></script>
<script src="/static/js/lookup_besucher.js"></script>
<script src="/static/js/buchung.js"></script>
<script src="/static/js/lookup_besucher.js"></script>