<!-- 
	Layout Datei für Rechnungsapp Ferien-in-Gersfeld
	Abgeleitet aus alter TWIG Version, umgestellt für Jinja2
	Autor: Ralph Müller
	10.10.2021
 -->
<!DOCTYPE html>
<html lang="de">
<head>
	<title>FewoApp V2</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

	{% assets "all_css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}		

	{% assets "all_js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
	<script>
		document.addEventListener('htmx:configRequest', function(e) {
			e.detail.headers['X-CSRFToken'] = document.querySelector('meta[name="csrf-token"]').content;
		});
	</script>

</head>
<body>
	<div class="container">
	{% include 'nav.html' %}
	</div>
	<!-- Seiteninhalt -->	
	<div class="container">
		<div class="row g-3 top70">
			<div id="context-menu" class="col-md-2">
				<!-- left column -->
				{% include 'context-menu.html' %}
			</div>
			<div id="content" class="col-md-10">
				{% include 'flash.html' %}
				{% if title %}
					<h3 class="align-left">{{title}}</h3>
				{% endif %}
				{% block content %}{% endblock %}
			</div>
		</div>
	</div> <!-- container Seiteninhalt-->

	<!-- Footer -->	
	<div id="footer" class="container">
		<div class="row">
			<h3 class="align-left">Blueprint Info</h3>
			<ul class="page-properties">
			  <li><span class="attribute-title">Blueprint:</span> <span class="attribute-value">{{ request.blueprint }}</span></li>
			  <li><span class="attribute-title">Template:</span> <span class="attribute-value">{{ self._TemplateReference__context.name }}</span></li>
			  <li><span class="attribute-title">View:</span> <span class="attribute-value">{{ request.endpoint }}</span></li>
			  <li><span class="attribute-title">Route:</span> <span class="attribute-value">{{ request.path }}</span></li>
			</ul>
		  </div>
	</div> <!-- container Footer-->

</body>
</html>