<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/myapp.css">	
	
	<script src="/static/node_modules/jquery/dist/jquery.js"></script>
	<script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script src="/static/node_modules/chart.js/dist/Chart.js"></script>
	<script src="/static/js/chart_functions.js"></script>
	
    <title>FewoApp Extensions</title>
</head>
<body>
	<div class="container container-fluid">
		{% include 'nav.html' %}
	</div>
	
	<!-- Seiteninhalt -->	
	<div class="container container-fluid">
	
		<h2>{{title}}</h2>

		{% include 'flash.html' %}

		<div id="content">{% block content %}{% endblock %}</div>

	</div> <!-- container Seiteninhalt-->

	<!-- Footer -->	
	<div class="container container-fluid">
		<p>Copyright: Ralph Müller, 2021</p>
	</div> <!-- container Footer-->

	
</body>
</html>