<!-- 
	partial für Navigation Bar
    RM 10.09.2021
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home_bp.index') }}">FEWO-V2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home_bp.index') }}">Startseite</a>
        </li>
        {% if g.user %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Besucher
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/besucher">Liste</a>
                <a class="dropdown-item" href="/besucher/create">Neu</a>
                <a class="dropdown-item" href="/besucher/find">Finden</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              Kalender
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/calendar/month">Monat</a>
              <a class="dropdown-item" href="calendar/year">Jahr</a>
          </div>
      </li>        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Statistik
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/stats/income_and_commission">Einnahmen Überblick</a>
                <a class="dropdown-item" href="/stats/income_apartments">Einnahmen Wohnungen</a>
            </div>
        </li>
        {% endif %}
        <li class="nav-item">
            {% if g.user %}
            <a class="nav-link" href="{{ url_for('auth_bp.logout') }}">Logout {{ g.user['username'] }}</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('auth_bp.login') }}">Log In</a>
            {% endif %}
        </li>
      </ul>
    </div>
    <div class="nav-link float-right">Runmode: {{run_mode}}</div>
  </div>
</nav>