<!-- 
	partial für Navigation Bar
    RM 10.09.2021
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{{ url_for('home_bp.index') }}">FEWO-V2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if g.user %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Besucher
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('besucher_bp.index') }}">Liste</a>
                <a class="dropdown-item" href="{{ url_for('besucher_bp.create') }}">Neu</a>
                <a class="dropdown-item" href="{{ url_for('besucher_bp.find') }}">Finden</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              Buchungen
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/buchung?status=abgerechnet">Rechnungen</a>
              <a class="dropdown-item" href="/buchung?status=gebucht">Buchungen</a>
              <a class="dropdown-item" href="/buchung?status=angebot">Angebote</a>
          </div>
      </li>          
        <li class="nav-item">
            <a class="nav-link" href="/calendar/month">Kalender</a>
        </li>    
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Statistik
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/stats/income_and_commission">Einnahmen Überblick</a>
                <a class="dropdown-item" href="/stats/income_apartments">Einnahmen Wohnungen</a>
                <a class="dropdown-item" href="/stats/income_forecast">Forecast</a>
            </div>
        </li>
        {% endif %}
        {% if g.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('info_bp.info') }}">Info</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{g.user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('auth_bp.change_password') }}">Passwort ändern</a>
              <a class="dropdown-item" href="{{ url_for('auth_bp.logout') }}">Abmelden</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_bp.login') }}">Anmelden</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="nav-link float-right">Runmode: {{run_mode}}</div>

</nav>