<!-- 
    Created: Ralph, 20.10.2021

    Template für Angebots Email
        - rendering durch Jinja2 Engine

-->

{% extends "emails/layout.html" %}

{% block content %}

{% include 'emails/de/greeting.html' %}

<p>vielen Dank für Ihre Anfrage!</p>

<p>
    Die Wohnung {{buchung.apartment.name}}, {{buchung.apartment.beschreibung}} ist für Sie 
    vom {{buchung.anreise | euro_date_short}} - {{buchung.abreise | euro_date_short}} verfügbar.</p>
<p> Die Kosten werden wie folgt aussehen:<br>
    {{buchung.apartment.name}} ({{days}} Nächte - {{buchung.preis_nacht | euro_currency }}/Nacht für {{buchung.kurtaxe_vz}} Personen) 
    Endpreis {{buchung.miete | euro_currency}}  zzgl. Kurtaxe {{buchung.kurtaxe  | euro_currency }}. 
</p>

{% if buchung.get_rabatt() > 0 %}
    <p>
        Der Endpreis enthält einen Rabatt von {{buchung.get_rabatt() }} %.
    </p>
{% endif %}

<p>
    <strong>Sollte Ihnen unser Angebot zusagen, bitten wir um eine Buchungsbestätigung per Email. Wir würden uns 
    freuen, wenn Sie sich für uns entscheiden!</strong>
</p>
<p>
    Dieser Preis beinhaltet Bettwäsche, Handtücher, Nutzung WLan, usw. Ebenso finden Sie eine gut 
    ausgestattete Küche vor mit den gängigsten Gewürzen auf Vorrat. Waschmaschine und Trockner stehen 
    Ihnen kostenfrei zur Verfügung. Es fallen keine weiteren Kosten an.
    Eine ausführliche Beschreibung der Wohnung finden Sie auch auf unserer <a href="{{ operator.website }}">Webseite</a>.
</p>
<p>
    Stornierungsbedingungen: Sollten Sie den Urlaub bei uns nicht antreten können,
    ist eine Stornierung bis {{ operator.storno_frist }} Tage vor Anreisetermin kostenfrei.
    Danach berechnen wir eine Gebühr von {{ operator.storno_gebuehr }}% des Mietpreises.
</p>
<p>
    Für weitere Fragen stehen wir Ihnen natürlich per Email oder Telefon ({{ operator.tel }}) zur Verfügung.
</p> 

{% include 'emails/de/mfg.html' %}

{% endblock %}