<!-- 
    Created: Ralph, 21.10.2021

    Template für storno Email

-->

{% extends "emails/layout.html" %}

{% block content %}

{% include 'emails/de/greeting.html' %}

<p>
	Wir betätigen hiermit die Stornierung der unten angezeigten Buchung.

    Details der stornierten Buchung:
</p>
<ul>
    <li>Apartment: {{buchung.apartment.name}}</li>
    <li>Datum: {{buchung.get_anreise() |euro_date_short}} - {{buchung.get_abreise() |euro_date_short}}</li>
    <li>Miete und Kurtaxe: {{buchung.get_summe() | euro_currency}}</li>
    <li>Restbetrag: {{buchung.get_offener_betrag() | euro_currency}}</li>
</ul>

<p>Schade, dass es diesmal nicht geklappt hat!</p>

{% include 'emails/de/mfg.html' %}

{% endblock %}