<!-- 
    Created: Ralph, 20.10.2021

    Template für Vorauszahlungs-Email
        - renering durch Jinja2 Engine

-->

{% extends "emails/layout.html" %}

{% block content %}

{% include 'emails/de/greeting.html' %}

<p>
	gerne bestätigen wir den Eingang einer Vorauszahlung von {{buchung.get_vorauszahlung() | euro_currency }} für Ihre Buchung bei uns.

    Details Ihres Besuchs:
</p>
<ul>
    <li>Apartment: {{buchung.apartment.name}}</li>
    <li>Datum: {{buchung.get_anreise() |euro_date_short }} - {{buchung.get_abreise() |euro_date_short }}</li>
    <li>Miete und Kurtaxe: {{buchung.get_summe() | euro_currency}}</li>
    <li>Restbetrag: {{buchung.get_offener_betrag() | euro_currency}}</li>
</ul>

<p>Wir freuen uns auf Ihren Besuch!</p>

{% include 'emails/de/mfg.html' %}

{% endblock %}