<!-- 
    Created: Ralph, 27.12.2021

    Greeting fragment German 
        - rendering durch Jinja2 Engine
-->

<p>
    {% if buchung.besucher.anrede == 'Herr' %}
        Sehr geehrter Herr {{buchung.besucher.name}}, 
    {% endif %}
    {% if buchung.besucher.anrede == 'Frau' %}
        Sehr geehrte Frau {{buchung.besucher.name}}, 
    {% endif %}
    {% if buchung.besucher.anrede == 'Fam.' %}
        Sehr geehrte Familie {{buchung.besucher.name}}, 
    {% endif %}
    {% if buchung.besucher.anrede == 'Firma' %}
        Sehr geehrte Damen und Herren, 
    {% endif %}
</p>