{% extends "layout.html" %}

<!-- 
	partial for finding a visitor
-->

{% block content %}

<div class="row">
	<div class="col-6">
		<h3>Besucherliste</h3>
	  	<form role="form">
	    	<div class="form-group">
	      		<input type="text" id="textInput" class="form-control" placeholder="Anfangsbuchstaben Nachname">
	    	</div>
	  	</form>
		<table class="table table-bordered table-condensed table-hover">
			<tbody id="results"/>
		</table>
	</div>
	<div class="col-6">
		<div id="besucher-details"></div>
		<div id="besucher-abgerechnet"></div>
		<div id="besucher-gebucht"></div>
		<div id="besucher-storno"></div>
	</div>
</div>
	
  <script src="/static/node_modules/rx/dist/rx.lite.compat.js"></script>
  <script src="/static/js/lookup_besucher.js"></script>

{% endblock %}